{
	"printWidth": 80,
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"tabWidth": 2,
	"overrides": [
		{
			"files": ["*.md", "*.yml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
